body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: none;
}

.card {
    position: static;
    background-color: hsl(0, 0%, 99%);
    border-radius: 15px;
    margin: 10% 32% 10% 32%;
}

.top-container {
    text-align: left;
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 3%;
}

h1{
    color: hsl(179, 62%, 43%);
}

.h230 {
    color: hsl(71, 73%, 54%);
}

.bottom {
    position: relative;
    display: flex;
    border: none;
}

.ad-container {
    background-color: hsl(179, 62%, 43%);
    text-align: center;
}

.price {
    font-size: 40px
}

.price, .pm {
    display: inline;
}



.info-container {
    background-color: hsl(179, 51%, 48%);
    text-align: left;
    padding-left: 5%;
    border-bottom-right-radius: 15px;
}

.ad-container, .info-container{
    flex: 2%;
    color: aliceblue;
    padding-bottom: 3%;
}


#action {
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.206);
    cursor: pointer;
    padding: 5%;
}

#action:hover {
    background-color: hsl(71, 63%, 49%);
}




/* ---------- @media queries ---------- */

@media (max-width: 1000px) {
    .ad-container, .info-container {
        width: 100%;
        padding: 5%;
        display: static;
        border-bottom-left-radius: 15px;
    }

    .card {
        margin: auto;
        height: auto;
        overflow: hidden;
    }
}

@media (max-width: 1248px) {
    .ad-container, .info-container {
        width: 100%;
        text-align: left;
        padding-left: 15%;
    }

    .price {
        padding-left: 13%;
    }

    #action  {
        width: 70%;
    }

    .card {
        margin: 5% 10% 5% 10%;
        height: auto;
    }
}

@media (max-width: 650px) {
    .bottom {
        width: 100%;
        display: grid;
    }
}